body {
    height: 100vh;
}

.back {
    background-color: rgb(255, 255, 255);
    width: 800px;
    height: 518px;
    margin: auto;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
}
.backbuttom {
    display: flex;
    align-self: flex-end;
    width: 100%;

    justify-content: space-evenly;
}
form {
    width: 31%;
    background-color: rgb(255, 255, 255);
    height: 102.6%;
    border-radius: 25px;
   
}
h5 {
    color: black;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: medium;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.praice1::after {
    content: " /Monthly";
    font-size: x-small;
    font-weight: bold;
    color: rgb(149, 153, 156);
}
.praice2::after {
    content: " /Monthly";
    font-size: x-small;
    font-weight: bold;
    color: rgb(149, 153, 156);
}
.praice3::after {
    content: " /Monthly";
    font-size: x-small;
    font-weight: bold;
    color: rgb(149, 153, 156);
}
ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding-left: 0;
    padding-top: 16px;
    flex-direction: column;
}
ul li:first-child {
    font-size: x-large;
    font-weight: bolder;
    margin-bottom: 12px;
}
ul li:not(:first-child) {
    font-size: 12px;
    font-weight: 600;
    color: rgb(149, 153, 156);
    padding-top: 9px;
}
a {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-top: -10;
    border: 1px solid black;
    font-size: small;
    font-family: "Times New Roman", Times, serif;
}
a:hover {
    text-decoration: none;
}
img {
    position: relative;
    width: 80px;
    height: 80px;
    left: 85px;
    top: 11px;
    margin-bottom: 12px;
}
.radio-toolbar input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}
.radio-toolbar label {
    display: flex;
    background-color: #e1f0e8;
    padding: 10px 20px;
    font-family: sans-serif, Arial;
    font-size: 14px;
    color:#03ca67;
    border-radius: 100px;
    width: 90px;
    height: 45px;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
}
.radio-toolbar input[type="radio"]:checked + label {
    background-color: #03ca67;
    color: rgb(255, 255, 255);

    border-radius: 100px;
}
.radio-toolbar label:hover {
    background-color: rgb(59, 143, 105);
}
.radio-toolbar {
    width: 200px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 8px;
    border-radius: 80px;
    margin-bottom: 10px;

    background-color: rgb(255, 255, 255);
}
.backinput {
    display: flex;
    justify-content: center;
    padding: 20px;
}
